.main-allotment{
    width: 100vw;
    height: 90vh;
    /* border: 2px solid red ; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
}

.hostel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hostel-box{
    width: 70vw;
    background-color: white;
    /* border-radius: 5%; */
}